# Ejercicio 1: Transformar cadenas

In [37]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

In [38]:
text_spl = text.split(". ")

In [39]:
keywords = ["average", "temperature", "distance"]

In [40]:
for n in keywords:
    for m in text_spl:
        if n in m:
            print(m)
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 C.

In [41]:
for n in keywords:
    for m in text_spl:
        if n in m:
            print(m.replace('C', 'Celsius'))
            break

On average, the Moon moves 4cm away from the Earth every year
The highest daylight temperature of the Moon is 127 Celsius.

# Ejercicio 2 Formateando Cadenas

In [42]:
# Datos con los que vas a trabajar
name = "Moon"
gravity = 0.00162 # in kms
planet = "Earth"

In [43]:
title = f'Gravedad sobre: {name}'

In [44]:
data = f"""{'-'*80} 
Nombre del planeta: {planet} 
Gravedad en {name}: {gravity * 1000} m/s2 
"""

In [45]:
template = f"""{title.title()}
{data}
"""
print(template)

Gravedad Sobre: Moon
--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [46]:
# Nuevos datos muestra
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [47]:
print(data)

--------------------------------------------------------------------------------
Nombre del planeta: Earth
Gravedad en Moon: 1.6199999999999999 m/s2

In [50]:
template2 = """
Gravedad sobre: {nombre}
-----------------------------------------------------------------------
Planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""

In [51]:
print(template2.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Gravedad sobre: Ganímedes
-----------------------------------------------------------------------
Planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2